# Python
__pycache__/
*.pyc
venv/
.env

# macOS
.DS_Store

# Fast Downward build + artifacts
planning-tools/downward/builds/
planning-tools/downward/*.sas
planning-tools/downward/output.sas
planning-tools/downward/plan.txt

# Ignore the whole downward repo (treated as external)
planning-tools/downward/
